a {
  text-decoration: none;
}

.layout-inner {
  min-width: 1240px;
  max-width: 1480px;
  margin: 0 auto 96px;
}

.share-view {
  padding-top: 88px;
}

.share {
  width: 100%;
  min-height: 640px;
}